<div id="mainpage">
	<div class="wrapper">
    	<div class="forms-list-element" id="new-survey" ng-click="addNewSurvey()">
            Add a new survey
        </div>
    </div>
    <div class="wrapper" ng-if="formsList.length > 0">
    	<ol>
            <div class="forms-list-container" ng-repeat="form in formsList">
        		<li>
                    <div class="forms-list-element">
                        {{form.title}}
                        <div class="forms-list-element-button" ng-click="takeSurvey(form['_id'])">
                            Take Survey
                        </div>
                    </div>
        		</li>
            </div>
    	</ol>
    </div>
</div>