<div id="surveypage">
    <div class="wrapper">
        <form name="surveyData.surveyId" ng-submit="surveySubmit($event)">
            <div class="heading-container">
                <h2>{{surveyData.heading}}</h2>
            </div>
            <div ng-repeat="question in surveyData.questionsArray track by $index">
                <div class="all-questions-container">
                    <div>
                        <div class="question-title">
                            <div class="survey-question-heading-container">
                                <h3>{{question.questionText}}</h3>
                            </div>
                        </div>
                        <div class="animate-switch-container" ng-switch="question.selection">
                            <div class="animate-switch" ng-switch-when="shortanswer">
                                <div class="question-title">
                                    <div class="question-heading-container">
                                        <div class="options">
                                            <label>
                                                <textarea class="survey-text-area" placeholder="answer in {{question.minimumCharLimit}} to {{question.maximumCharLimit}} characters" maxlength="{{question.maximumCharLimit}}" minlength="{{question.minimumCharLimit}}" ng-model="question.answer" ng-required="{{question.isRequired}}">
                                                </textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="checkboxes">
                                <div class="question-container">
                                    <div ng-repeat="option in question.optionsList.options track by $index">
                                        <div class="options">
                                            <input type="checkbox" value="{{question.optionsList.options[$index]}}" name="{{question._id}}" ng-model="question.answer[question.optionsList.options[$index]]"/>
                                            <label>{{question.optionsList.options[$index]}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="dropboxes">
                                <div class="question-container">
                                    <div class="options">
                                        <select ng-model="question.answer">
                                            <option ng-repeat="option in question.optionsList.options track by $index" value="{{option}}" ng-required="{{question.isRequired}}" name="{{question._id}}">{{option}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="linearScale">
                                <div class="question-container">
                                    <div class="linear-scale">
                                        <div class="linear-scale-input-container" ng-repeat="option in question.optionsList.options track by $index">
                                            <label for="{{$index}}">{{question.optionsList.options[$index]}}</label>
	                                        <input type="radio" class="linear-scale-input" value="{{question.optionsList.options[$index]}}" id="{{$index}}" ng-model="question.answer" ng-required="{{question.isRequired}}" name="{{question._id}}"/>
	                                        
	                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="date">
                                <div class="options">
                                    <label>
                                        <input type="text" class="survey-date" date-picker="{{question.optionsList}}" ng-model="question.answer" ng-required="{{question.isRequired}}" name="{{question._id}}"/>
                                    </label>
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="time">
                                <div class="options">
                                    <label>
                                        <input type="text" class="survey-time" time-picker="{{question.optionsList}}" ng-model="question.answer" ng-required="{{question.isRequired}}" name="{{question._id}}"/>
                                    </label>
                                </div>
                            </div>
                            <div class="animate-switch" ng-switch-when="multipleChoice">
                                <div class="question-container">
                                    <div ng-repeat="option in question.optionsList.options track by $index">
                                        <div class="options">
                                            <input type="radio" value="{{question.optionsList.options[$index]}}" ng-model="question.answer" ng-required="{{question.isRequired}}" name="{{question._id}}"/>
                                            <label>{{question.optionsList.options[$index]}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
